#like-button {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
  margin-top: 20px;
}

#like-emoji {
  margin-right: 8px;
  transition: transform 0.2s;
}

#like-emoji:hover {
  transform: scale(1.2);
}

#like-count {
  font-weight: bold;
}

.center-title figcaption {
    text-align: center;
    font-size: 1rem; /* Adjust font size if needed */
    margin-top: 10px; /* Add space above title */
}
